<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f97c0f6cbf.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>

    <!-- login page -->
    <div class="login-page">

      <!-- random boxes -->
      <div class="R4"></div>
      <div class="R-box" id="R1"></div>
      <div class="R-box" id="R2"></div>
      <!-- login-box -->
      <div class="login-box">

        <h1>Login</h1>

        <!-- form -->
        <form action="">

          <!-- Username -->
          <div class="text">
            <label for="username">Username</label>
            <div class="text1">
              <em class="fas fa-user"></em>
              <input class="text-size" type="text" id="username" placeholder="Enter your username" />
            </div>
          </div>

          <!-- Password -->
          <div class="text">
            <label for="password">Password</label>
            <div class="text2">
              <em class="fas fa-lock"></em>
              <input class="text-size" type="password" id="password" placeholder="Enter your password" />
            </div>
          </div>

          <!-- forgot -->
          <div class="forget"><a>Forgot Password?</a></div>
          <div class="login-btn">
            <input type="submit" value="LOGIN" />
          </div>

          <!-- icon btn sign in -->
          <div class="sign_up">Or Sign In Using</div>
          <div id="img1">
            <div class="img">
              <a href="https://www.facebook.com/"
                ><img src="imgs/facebook.png" alt=""
              /></a>
              <a href="https://twitter.com/"
                ><img src="imgs/twitter.png" alt=""
              /></a>
              <a href="https://mail.google.com/"
                ><img src="imgs/google.png" alt=""
              /></a>
              <!-- <button><img src="facebook.png" alt="" /></button>
              <button><img src="twitter.jpg" alt="" /></button>
              <button><img src="google.png" alt="" /></button> -->
            </div>
          </div>


          <div class="spacer"></div>
          <div class="sign_up">
            Or Sign Up Using <br />
            <button class="btn">SIGN UP</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
